ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
TAVILY_API_KEY=
GOOGLE_MERCHANT_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=

GOOGLE_VISION_API_KEY=

# 소셜 로그인
GOOGLE_OAUTH_CLIENT_ID=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
SESSION_SECRET_KEY=
